@media (min-width : 320px) {

    section {
        margin-top: 25px;
    }

    .sub-Headings {
        font-size: 24px;
    }

    .sub-title {
        font-size: 16px;
    }

    /* footer  */
    footer {
        font-size: 14px;
        margin-top: 30px;
    }

    footer h5 {
        font-size: 18px;
    }

    footer .logo a {
        width: 35px;
    }

    .footer-right {
        bottom: -5%;
    }

    .footer-logo img {
        width: 45%;
    }


    /* End  */
    .End p {
        font-size: 10px;
    }

}

@media (min-width : 375px) {}

@media (min-width : 420px) {}


@media (min-width : 525px) {
    /* footer  */
    footer h5 {
        font-size: 20px;
    }

    footer .logo p {
        font-size: 14px;
    }

    footer .list-unstyled li {
        font-size: 14px;
    }

    footer .Contact a {
        font-size: 14px;
    }


    /* End  */
    .End p {
        font-size: 12px;
    }
}

@media (min-width : 540px) {}

@media (min-width : 575px) {}

@media (min-width : 768px) {

    section {
        margin-top: 25px;
    }

    /* footer  */
    .footer-logo img {
        width: 30%;
    }
    .footer-right {
        bottom: -8%;
    }


}

@media (min-width : 820px) {

    /* footer  */
    .footer-left {
        left: 0%;
        top: 0%;
    }

    .footer-right {
        right: 0%;
        bottom: 6%;
        width: 164px;
        height: 150px;
    }
}

@media (min-width : 853px) {

}

@media (min-width : 912px) {
    /* footer  */
    .footer-left img {
        width: 80%;
    }
}



@media (min-width : 992px) {

    section {
        margin-top: 40px;
    }

    .sub-Headings {
        font-size: 30px;
    }

    .sub-title {
        font-size: 18px;
    }
    /* footer  */
    footer {
        font-size: 15px;
    }

    footer h5 {
        font-size: 18px;
    }

    footer .logo a {
        width: 35px;
    }

    .footer-logo img {
        width: 65%;
    }

    .footer-left {
        left: 0%;
        top: 0%;
    }

    .footer-right {
        right: 0;
        bottom: 10%;
        width: 164px;
        height: 150px;
    }

    /* End  */
    .End p {
        font-size: 15px;
    }

}



@media (min-width : 1024px) {

}


@media (min-width : 1280px) {

    section {
        margin-top: 40px;
    }

    .sub-Headings {
        font-size: 30px;
    }

    .sub-title {
        font-size: 18px;
    }

    /* footer  */
    footer .logo p {
        font-size: 17px;
    }

    footer h5 {
        font-size: 22px;
    }

    footer .list-unstyled li {
        font-size: 17px;
    }

    footer .Contact a {
        font-size: 17px;
    }

}

@media (min-width : 1440px) {
    /* End */
    .End p {
        font-size: 20px;
        margin-bottom: 20px;
    }

}

@media (min-width : 1600px) {

    .sub-Headings {
        font-size: 34px;
    }

    .sub-title {
        font-size: 22px;
    }

    /* footer  */
    .footer-left img {
        width: 105%;
    }

    .footer-right img {
        width: 170%;
    }

    .footer-right {
        right: 6%;
        bottom: 35%;
        width: 125px;
        height: 100px;
    }
}


@media (min-width : 1680px) {

    /* footer  */
    .footer-left img {
        width: 130%;
    }

    .footer-right {
        right: 6%;
        bottom: 28%;
        width: 150px;
        height: 172px;
    }

    footer h5 {
        font-size: 30px;
    }

    footer .list-unstyled li {
        font-size: 20px;
    }

    footer .Contact a {
        font-size: 20px;
    }

    footer .logo p {
        font-size: 20px;
    }

    .footer-logo img {
        width: 75%;
    }

    footer .logo a {
        width: 55px;
    }

    footer .logo a i {
        font-size: 35px;
    }

}

@media (min-width : 1920px) {

    .sub-Headings {
        font-size: 40px;
    }

    .sub-title {
        font-size: 26px;
    }

    /* footer  */
    footer h5 {
        font-size: 35px;
    }

    .footer-left img {
        width: 100%;
    }

    .footer-right img {
        width: 120%;
    }

    .footer-right {
        right: 35px;
        bottom: 10%;
    }

    /* End  */
    .End p {
        font-size: 25px;
    }

}

@media (min-width : 2048px) {
}