/* navbar  */
header {
    padding: 14px;
    z-index: 10;
    width: 100%;
    top: 10px;
}

.navbar {
    border-radius: 68px;
    background-color: white;
    margin: 0 10px;

}

.navbar img {
    width: 43px;
}

.nav-item a {
    color: #079894;
    font-weight: bolder;
}

.navbar button {
    background-color: var(--theme-color);
    font-size: 18px;
    border: none;
    height: 38px;
    font-weight: bolder;
    padding: 0 12px;
}

